:host {
  display: flex;
  justify-content: center;
  align-items: center;
}
.totalPrice {
  font-size: x-large;
}
.btnSave {
  margin: 20px 0;
  width: 100%;
}
.containerError {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;
  button {
    margin: 30px 0;
  }
}
