<div class="containerSelectSearch">
  <ng-container *ngIf="true">
    <div class="containerFilter">
      <label for="categorie">Filter by categories</label>
      <select
        id="categorie"
        [(ngModel)]="categorySelected"
        name="category"
        (change)="filterByCategory()"
        #value
      >
        <option
          *ngFor="let category of categories$ | async"
          [ngValue]="category"
        >
          {{ category.name }}
        </option>
        <option [ngValue]="{ slug: '' }">All products</option>
      </select>
    </div>
  </ng-container>

  <div class="containerFilter">
    <label for="search">Search products by name</label>
    <input name="search" type="text" [formControl]="textInput" />
  </div>

  <button (click)="validateNavigation()" class="btnCart">
    <img src="assets/img/cart.jpg" />
  </button>
</div>

<div class="gridProducts">
  <app-template-product
    [product]="product"
    *ngFor="let product of products$ | async"
  >
  </app-template-product>

  <mat-paginator
    [length]="length"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    aria-label="Select page"
    (page)="page(pageEvent)"
  >
  </mat-paginator>
</div>

<ng-container *ngIf="error">
  <app-error-message [errorMessage]="error"> </app-error-message>
</ng-container>
