<header>
  <mat-toolbar>
    <h1>The Online Shop</h1>
    <div class="action" *ngIf="user">
      <div class="profile" (click)="menuToggle(menu)">
        {{ initialsName }}
      </div>

      <div class="menu" #menu>
        <div class="card-info">
          <h3>{{ user.name }}</h3>
          <p>{{ user.email }}</p>
        </div>
        <ul>
          <li>
            <mat-icon class="logo">exit_to_app</mat-icon>
            <a (click)="logout()">Log out</a>
          </li>
        </ul>
      </div>
    </div>
  </mat-toolbar>
</header>
