<ng-container *ngIf="error">
  <app-error-message [errorMessage]="error"> </app-error-message>
</ng-container>

<h1>The Online Shop</h1>

<form [formGroup]="form" (ngSubmit)="submit()">
  <mat-form-field appearance="outline">
    <mat-label>Enter your email</mat-label>
    <input matInput placeholder="user@example.com" formControlName="email" />
    <mat-error class="errorContainer" *ngIf="email?.touched && !email?.valid">
      <div *ngIf="email?.errors?.['required']">Email is required</div>
      <div *ngIf="email?.errors?.['email']">
        Input does not have an email format
      </div>
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Enter your password</mat-label>
    <input
      matInput
      [type]="hide ? 'password' : 'text'"
      formControlName="password"
      autocomplete="on"
    />
    <button
      type="button"
      mat-icon-button
      matSuffix
      (click)="hide = !hide"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide"
    >
      <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
    </button>

    <mat-error
      class="errorContainer"
      *ngIf="password?.touched && !password?.valid"
    >
      <div *ngIf="password?.errors?.['required']">Password is required</div>
      <div *ngIf="password?.errors?.['minlength']">
        Password name should be minimum
        {{password?.errors?.['minlength'].requiredLength}} characters
      </div>
    </mat-error>
  </mat-form-field>

  <div
    matTooltip="This button will be available after all mandatory fields are filled"
  >
    <button mat-raised-button color="primary" [disabled]="form.invalid">
      Log In
    </button>
  </div>
</form>

<div class="containerTextMessage">
  <app-charging-message *ngIf="loading"></app-charging-message>
</div>
