<ng-container *ngIf="error">
  <app-error-message [errorMessage]="error"> </app-error-message>
</ng-container>

<h1>Tech Shop</h1>

<form [formGroup]="form" (ngSubmit)="submit()">
  <mat-form-field appearance="outline">
    <mat-label>Enter your email</mat-label>
    <input matInput placeholder="user@example.com" formControlName="email" />
    <mat-error *ngIf="getControl('email').invalid">{{
      getErrorMessage()
    }}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Enter your password</mat-label>
    <input
      matInput
      [type]="hide ? 'password' : 'text'"
      formControlName="password"
      autocomplete="on"
    />
    <button
      type="button"
      mat-icon-button
      matSuffix
      (click)="hide = !hide"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide"
    >
      <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
    <mat-error *ngIf="getControl('password').invalid">{{
      getErrorMessagePassword()
    }}</mat-error>
  </mat-form-field>

  <div
    matTooltip="This button will be available after all mandatory fields are filled"
  >
    <button mat-raised-button color="primary" [disabled]="form.invalid">
      Log In
    </button>
  </div>

</form>

<div class="containerTextMessage">
  <app-charging-message *ngIf="loading"></app-charging-message>
</div>

