<div class="productContainer">
  <h3>{{ newProduct.name }}</h3>
  <div>
    <p>Category: {{ newProduct.category.name }}</p>
    <p>Stock:{{ newProduct.master.stock }}</p>
    <p>Description: {{ newProduct.description }}</p>
  </div>
  <div class="widthMiddle">
    <img src="assets/img/logo-shop.jpg" class="imgDefault" />
  </div>

  <button (click)="addCount(newProduct.id)" class="btnLike">
    <mat-icon [fontSet]="isDislike()">{{ "thumb_up" }}</mat-icon>
    {{ countLike }}
  </button>

  <div *ngIf="newProduct.master.stock > 0; then stock; else noStock"></div>

  <ng-template #noStock>
    <div class="containerBtnAddDelete">
      <span>
        <button [disabled]="true" mat-raised-button color="primary">-</button>
        <label class="warnWord">No stock</label>
        <button [disabled]="true" mat-raised-button color="primary">+</button>
      </span>

      <button [disabled]="true" mat-raised-button color="primary">
        AddCart
      </button>
    </div>
  </ng-template>

  <ng-template #stock>
    <div class="containerBtnAddDelete">
      <span>
        <button
          mat-raised-button
          color="primary"
          (click)="countProduct === 0 ? 0 : (countProduct = countProduct - 1)"
        >
          -
        </button>
        <input [(ngModel)]="countProduct" />
        <button
          mat-raised-button
          color="primary"
          (click)="countProduct = countProduct + 1"
        >
          +
        </button>
      </span>

      <div
        matTooltip="Only can add product once time, you can edit on shopping cart"
        class="spaceWidth"
      >
        <button
          mat-raised-button
          color="primary"
          (click)="saveProduct(newProduct)"
          [disabled]="isDisabledAddProduct"
        >
          Add cart
        </button>
      </div>
    </div>
  </ng-template>
</div>

<ng-container *ngIf="error">
  <app-error-message [errorMessage]="error"> </app-error-message>
</ng-container>
