$colorSkyBlue: #c0c4e1;
$colorRed: #ed1c24;
$greenColor: #a5bfc1;
$colorSkyBlueLigth: #dee0ee;
$colorPurple: #673ab7;
$blackcolor: rgb(37, 37, 37);

$borderColor: #ced4da;
$lettercolor: #9f9f9f;
$backgroundColorGray: #e9ecef;
