$primary-color: (
  50: #f2e3ee,
  100: #efe4ec,
  200: #d4b3cb,
  300: #b57da6,
  400: #964781,
  500: #84276b,
  600: #6a1f56,
  700: #561946,
  800: #49153b,
  900: #350f2b,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
  )
);

$accent-color: (
  50: #f2e3ee,
  100: #efe4ec,
  200: #d4b3cb,
  300: #b57da6,
  400: #964781,
  500: #84276b,
  600: #6a1f56,
  700: #561946,
  800: #49153b,
  900: #350f2b,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
  )
);

$warn-color: (
  50: #f2e3ee,
  100: #efe4ec,
  200: #d4b3cb,
  300: #b57da6,
  400: #964781,
  500: #84276b,
  600: #6a1f56,
  700: #561946,
  800: #49153b,
  900: #350f2b,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
  )
)

