$primary-color: (
  50: #f7f8fb,
  100: #ecedf6,
  200: #e0e2f0,
  300: #d3d6ea,
  400: #c9cde6,
  500: #c0c4e1,
  600: #babedd,
  700: #b2b6d9,
  800: #aaafd5,
  900: #9ca2cd,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #f0f1ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$accent-color: (
  50: #f2e3ee,
  100: #efe4ec,
  200: #d4b3cb,
  300: #b57da6,
  400: #964781,
  500: #84276b,
  600: #6a1f56,
  700: #561946,
  800: #49153b,
  900: #350f2b,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
  ),
);

$warn-color: (
  50: #fde4e5,
  100: #fabbbd,
  200: #f68e92,
  300: #f26066,
  400: #f03e45,
  500: #ed1c24,
  600: #eb1920,
  700: #e8141b,
  800: #e51116,
  900: #e0090d,
  A100: #ffffff,
  A200: #ffd7d7,
  A400: #ffa4a5,
  A700: #ff8b8c,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
